<div class="az-header az-header-primary">
    <div class="container">
        <div class="az-header-left">
            <a href="index.html" class="az-logo">az<span>i</span>a</a>
            <a href="" id="azNavShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-center">
            <input type="search" class="form-control" placeholder="Search for anything...">
            <button class="btn"><i class="fas fa-search"></i></button>
        </div><!-- az-header-center -->
        <div id="top-select-container">
            <div>
                <select class="form-control" id="exampleFormControlSelect1" (change)="onLanguageSelect($event)">
                    <option value="en">{{'English' | translate}}</option>
                    <option value="ar">{{'Arabic' | translate}}</option>
                </select>
            </div>
            <div>
                <select class="form-control" id="exampleFormControlSelect1" (change)="onChangeDashboradType($event)">
                    <option value="sales" selected="true">{{'Sales' | translate}}</option>
                    <option value="service">{{'Service' | translate}}</option>
                    <option value="marketing">{{'Marketing' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="az-header-right">
            <div class="az-header-message">
                <a href="app-chat.html"><i class="typcn typcn-messages"></i></a>
            </div><!-- az-header-message -->
            <div class="dropdown az-header-notification">
                <a href="" class="new"><i class="typcn typcn-bell"></i></a>
                <div class="dropdown-menu">
                    <div class="az-dropdown-header mg-b-20 d-sm-none">
                        <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                    </div>
                    <h6 class="az-notification-title">Notifications</h6>
                    <p class="az-notification-text">You have 2 unread notification</p>
                    <div class="az-notification-list">
                        <div class="media new">
                            <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                            <div class="media-body">
                                <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                                <span>Mar 15 12:32pm</span>
                            </div><!-- media-body -->
                        </div><!-- media -->
                        <div class="media new">
                            <div class="az-img-user online"><img src="https://via.placeholder.com/500x500" alt=""></div>
                            <div class="media-body">
                                <p><strong>Joyce Chua</strong> just created a new blog post</p>
                                <span>Mar 13 04:16am</span>
                            </div><!-- media-body -->
                        </div><!-- media -->
                        <div class="media">
                            <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                            <div class="media-body">
                                <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                                <span>Mar 13 02:56am</span>
                            </div><!-- media-body -->
                        </div><!-- media -->
                        <div class="media">
                            <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                            <div class="media-body">
                                <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                                <span>Mar 12 10:40pm</span>
                            </div><!-- media-body -->
                        </div><!-- media -->
                    </div><!-- az-notification-list -->
                    <div class="dropdown-footer"><a href="">View All Notifications</a></div>
                </div><!-- dropdown-menu -->
            </div><!-- az-header-notification -->
            <div class="dropdown az-profile-menu">
                <a href="" class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
                <div class="dropdown-menu">
                    <div class="az-dropdown-header d-sm-none">
                        <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                    </div>
                    <div class="az-header-profile">
                        <div class="az-img-user">
                            <img src="https://via.placeholder.com/500x500" alt="">
                        </div><!-- az-img-user -->
                        <h6>Aziana Pechon</h6>
                        <span>Premium Member</span>
                    </div><!-- az-header-profile -->

                    <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
                    <a href="" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
                    <a href="" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
                    <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
                    <a href="page-signin.html" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign
                        Out</a>
                </div><!-- dropdown-menu -->
            </div>
        </div><!-- az-header-right -->
    </div><!-- container -->
</div><!-- az-header -->

<div class="az-navbar az-navbar-two az-navbar-dashboard-eight">
    <div class="container">
        <div><a href="index.html" class="az-logo">az<span>i</span>a</a></div>
        <div class="az-navbar-search">
            <input type="search" class="form-control" placeholder="Search for schedules and events...">
            <button class="btn"><i class="fas fa-search "></i></button>
        </div><!-- az-navbar-search -->
        <!-- Sales - add tabs here naveen start -->
        <ul class="nav" id="sales" *ngIf="currentDashboard == 'sales'">
            <li class="nav-label">Main Menu</li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="typcn typcn-clipboard"></i>{{"Dashboard" | translate}}</a>
                <nav class="nav-sub dropdown-menu">
                    <a routerLink="/sales/dashboard" class="nav-sub-link">Web Analytics</a>
                    <a routerLink="/sales/dashboard" class="nav-sub-link">Sales Monitoring</a>
                    <a routerLink="/sales/dashboard" class="nav-sub-link">Ad Campaign</a>
                    <a routerLink="/sales/dashboard" class="nav-sub-link">Event Management</a>
                    <a routerLink="/sales/dashboard" class="nav-sub-link">Helpdesk Management</a>
                    <a routerLink="/sales/dashboard" class="nav-sub-link">Finance Monitoring</a>
                    <a routerLink="/sales/dashboard" class="nav-sub-link">Cryptocurrency</a>
                    <a routerLink="/sales/dashboard" class="nav-sub-link">Executive / SaaS</a>
                    <a routerLink="/sales/dashboard" class="nav-sub-link">Campaign Monitoring</a>
                    <a routerLink="/sales/dashboard" class="nav-sub-link">Product Management</a>
                </nav>
            </li><!-- nav-item -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="typcn typcn-document"></i>{{'Customers' | translate}}</a>
                <nav class="nav-sub dropdown-menu">
                    <a routerLink="/sales/customers" class="nav-sub-link">Mailbox</a>
                    <a routerLink="/sales/customers" class="nav-sub-link">Chat</a>
                    <a routerLink="/sales/customers" class="nav-sub-link">Calendar</a>
                    <a routerLink="/sales/customers" class="nav-sub-link">Contacts</a>
                    <a routerLink="/sales/customers" class="nav-sub-link">Profile</a>
                    <a routerLink="/sales/customers" class="nav-sub-link">Invoice</a>
                    <a routerLink="/sales/customers" class="nav-sub-link">Sign In</a>
                    <a routerLink="/sales/customers" class="nav-sub-link">Sign Up</a>
                    <a routerLink="/sales/customers" class="nav-sub-link">Page 404</a>
                </nav>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="typcn typcn-document"></i>Link1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="typcn typcn-file"></i>Link2</a>
            </li>
            <!-- <li class="nav-item">
                <a href="" class="nav-link with-sub"><i class="typcn typcn-book"></i>UI Elements</a>
                <nav class="nav-sub">
                    <a href="elem-accordion.html" class="nav-sub-link">Accordion</a>
                    <a href="elem-alerts.html" class="nav-sub-link">Alerts</a>
                    <a href="elem-buttons.html" class="nav-sub-link">Buttons</a>
                    <a href="elem-cards.html" class="nav-sub-link">Cards</a>
                    <a href="elem-icons.html" class="nav-sub-link">Icons</a>
                    <a href="elem-modals.html" class="nav-sub-link">Modals</a>
                    <a href="elem-navigation.html" class="nav-sub-link">Navigation</a>
                    <a href="elem-pagination.html" class="nav-sub-link">Pagination</a>
                    <a href="elem-tooltip.html" class="nav-sub-link">Tooltip</a>
                    <a href="elem-popover.html" class="nav-sub-link">Popover</a>
                    <a href="elem-progress.html" class="nav-sub-link">Progress</a>
                </nav>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i class="typcn typcn-edit"></i>Forms</a>
                <nav class="nav-sub">
                    <a href="form-elements.html" class="nav-sub-link">Form Elements</a>
                    <a href="form-layouts.html" class="nav-sub-link">Form Layouts</a>
                    <a href="form-validation.html" class="nav-sub-link">Form Validation</a>
                    <a href="form-wizards.html" class="nav-sub-link">Form Wizards</a>
                    <a href="form-editor.html" class="nav-sub-link">WYSIWYG Editor</a>
                </nav>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i class="typcn typcn-chart-bar-outline"></i>Charts</a>
                <nav class="nav-sub">
                    <a href="chart-morris.html" class="nav-sub-link">Morris Charts</a>
                    <a href="chart-flot.html" class="nav-sub-link">Flot Charts</a>
                    <a href="chart-chartjs.html" class="nav-sub-link">ChartJS</a>
                    <a href="chart-sparkline.html" class="nav-sub-link">Sparkline</a>
                    <a href="chart-peity.html" class="nav-sub-link">Peity</a>
                </nav>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i class="typcn typcn-map"></i>Maps</a>
                <nav class="nav-sub">
                    <a href="map-google.html" class="nav-sub-link">Google Maps</a>
                    <a href="map-leaflet.html" class="nav-sub-link">Leaflet</a>
                    <a href="map-vector.html" class="nav-sub-link">Vector Maps</a>
                </nav>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i class="typcn typcn-tabs-outline"></i>Tables</a>
                <nav class="nav-sub">
                    <a href="table-basic.html" class="nav-sub-link">Basic Tables</a>
                    <a href="table-data.html" class="nav-sub-link">Data Tables</a>
                </nav>
            </li> -->
        </ul>
        <!-- Sales - add tabs here naveen end -->
        <!-- Service - add tabs here naveen start -->
        <ul class="nav" id="service" *ngIf="currentDashboard == 'service'">
            <li class="nav-label">Main Menu</li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="typcn typcn-clipboard"></i>{{'Dashboard' |translate}}</a>
                <nav class="nav-sub dropdown-menu">
                    <a routerLink="/service/dashboard" class="nav-sub-link">Web Analytics</a>
                    <a routerLink="/service/dashboard" class="nav-sub-link">Sales Monitoring</a>
                    <a routerLink="/service/dashboard" class="nav-sub-link">Ad Campaign</a>
                    <a routerLink="/service/dashboard" class="nav-sub-link">Event Management</a>
                    <a routerLink="/service/dashboard" class="nav-sub-link">Helpdesk Management</a>
                    <a routerLink="/service/dashboard" class="nav-sub-link">Finance Monitoring</a>
                    <a routerLink="/service/dashboard" class="nav-sub-link">Cryptocurrency</a>
                    <a routerLink="/service/dashboard" class="nav-sub-link">Executive / SaaS</a>
                    <a routerLink="/service/dashboard" class="nav-sub-link">Campaign Monitoring</a>
                    <a routerLink="/service/dashboard" class="nav-sub-link">Product Management</a>
                </nav>
            </li><!-- nav-item -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="typcn typcn-clipboard"></i>{{'Cases' |translate}}</a>
                <nav class="nav-sub dropdown-menu">
                    <a routerLink="/service/cases" class="nav-sub-link">Mailbox</a>
                    <a routerLink="/service/cases" class="nav-sub-link">Chat</a>
                    <a routerLink="/service/cases" class="nav-sub-link">Calendar</a>
                    <a routerLink="/service/cases" class="nav-sub-link">Contacts</a>
                    <a routerLink="/service/cases" class="nav-sub-link">Profile</a>
                    <a routerLink="/service/cases" class="nav-sub-link">Invoice</a>
                    <a routerLink="/service/cases" class="nav-sub-link">Sign In</a>
                    <a routerLink="/service/cases" class="nav-sub-link">Sign Up</a>
                    <a routerLink="/service/cases" class="nav-sub-link">Page 404</a>
                    
                </nav>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"><i class="typcn typcn-document"></i>Link1</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"><i class="typcn typcn-file"></i>Link2</a>
            </li>
        </ul>
        <!-- Service - add tabs here naveen end -->
        <!-- marketing - add tabs here naveen start -->
        <ul class="nav" id="marketing" *ngIf="currentDashboard == 'marketing'">
            <li class="nav-label">Main Menu</li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="typcn typcn-clipboard"></i>{{'Dashboard' |translate}}</a>
                <nav class="nav-sub dropdown-menu">
                    <a routerLink="/marketing/dashboard" class="nav-sub-link">Web Analytics</a>
                    <a routerLink="/marketing/dashboard" class="nav-sub-link">Sales Monitoring</a>
                    <a routerLink="/marketing/dashboard" class="nav-sub-link">Ad Campaign</a>
                    <a routerLink="/marketing/dashboard" class="nav-sub-link">Event Management</a>
                    <a routerLink="/marketing/dashboard" class="nav-sub-link">Helpdesk Management</a>
                    <a routerLink="/marketing/dashboard" class="nav-sub-link">Finance Monitoring</a>
                    <a routerLink="/marketing/dashboard" class="nav-sub-link">Cryptocurrency</a>
                    <a routerLink="/marketing/dashboard" class="nav-sub-link">Executive / SaaS</a>
                    <a routerLink="/marketing/dashboard" class="nav-sub-link">Campaign Monitoring</a>
                    <a routerLink="/marketing/dashboard" class="nav-sub-link">Product Management</a>
                </nav>
            </li><!-- nav-item -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="typcn typcn-document"></i>{{'Contacts' | translate}}</a>
                <nav class="nav-sub dropdown-menu">
                    <a routerLink="/marketing/contacts" class="nav-sub-link">Mailbox</a>
                    <a routerLink="/marketing/contacts" class="nav-sub-link">Chat</a>
                    <a routerLink="/marketing/contacts" class="nav-sub-link">Calendar</a>
                    <a routerLink="/marketing/contacts" class="nav-sub-link">Contacts</a>
                    <a routerLink="/marketing/contacts" class="nav-sub-link">Profile</a>
                    <a routerLink="/marketing/contacts" class="nav-sub-link">Invoice</a>
                    <a routerLink="/marketing/contacts" class="nav-sub-link">Sign In</a>
                    <a routerLink="/marketing/contacts" class="nav-sub-link">Sign Up</a>
                    <a routerLink="/marketing/contacts" class="nav-sub-link">Page 404</a>
                </nav>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/marketing/leads" class="nav-link"><i class="typcn typcn-document"></i>{{'Leads' | translate}}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/marketing/customers" class="nav-link"><i class="typcn typcn-group"></i>{{'Customers' | translate}}</a>
            </li>
        </ul>
        <!-- marketing - add tabs here naveen end -->
    </div><!-- container -->
</div><!-- az-navbar -->